#style{
    background-color: cornsilk;
    padding: 0;
    margin: 0;
}

#heading-style{
    color:darkgreen;
}

#details-button{
    width: 35%;
    border-radius: 10px;
    background-color: lightsteelblue;
}